:root {
  /* 字體設定 */
  --my-font-family-primary: "Noto Sans TC", sans-serif;

  /* 字體大小層級 */
  --my-font-size-xs: 0.75rem; /* 12px */
  --my-font-size-sm: 0.875rem; /* 14px */
  --my-font-size-md: 1rem; /* 16px - 基準大小 */
  --my-font-size-lg: 1.125rem; /* 18px */
  --my-font-size-xl: 1.25rem; /* 20px */
  --my-font-size-2xl: 1.5rem; /* 24px */
  --my-font-size-3xl: 1.875rem; /* 30px */
  --my-font-size-4xl: 2.25rem; /* 36px */

  /* 字寬 */
  --my-letter-spacing-md: 1.2px;
  --my-letter-spacing-lg: 2.4px;

  /* 字重 */
  --my-font-weight-xs: 200;
  --my-font-weight-sm: 300;
  --my-font-weight-md: 400;
  --my-font-weight-lg: 500;
  --my-font-weight-xl: 600;

  /* Gray 層級顏色 */
  --my-color-white: #ffffff;
  --my-color-gray-50: #fafafa;
  --my-color-gray-100: #f5f5f5;
  --my-color-gray-200: #eeeeee;
  --my-color-gray-300: #e0e0e0;
  --my-color-gray-400: #bdbdbd;
  --my-color-gray-500: #9e9e9e;
  --my-color-gray-600: #757575;
  --my-color-gray-700: #616161;
  --my-color-gray-800: #424242;
  --my-color-gray-900: #212121;
  --my-color-black: #000000;

  /* 基本顏色 */
  --my-color-green: #2ca02c;

  /* 圖層顏色，使用 Python tab20 色系 */
  --my-color-tab20-1: #1f77b4; /* 藍色 */
  --my-color-tab20-1-hover: #1f5fb4;

  --my-color-tab20-2: #ff7f0e; /* 橘色 */
  --my-color-tab20-2-hover: #ff5f0e;

  --my-color-tab20-3: #2ca02c; /* 綠色 */
  --my-color-tab20-3-hover: #2c802c;

  --my-color-tab20-4: #d62728; /* 紅色 */
  --my-color-tab20-4-hover: #b62728;

  --my-color-tab20-5: #9467bd; /* 紫色 */
  --my-color-tab20-5-hover: #7467bd;

  --my-color-tab20-6: #8c564b; /* 棕色 */
  --my-color-tab20-6-hover: #6c564b;

  --my-color-tab20-7: #e377c2; /* 粉紅色 */
  --my-color-tab20-7-hover: #c377c2;

  --my-color-tab20-8: #7f7f7f; /* 灰色 */
  --my-color-tab20-8-hover: #5f7f7f;

  --my-color-tab20-9: #bcbd22; /* 黃綠色 */
  --my-color-tab20-9-hover: #9cbd22;

  --my-color-tab20-10: #17becf; /* 青色 */
  --my-color-tab20-10-hover: #17becf;

  --my-color-tab20-11: #aec7e8; /* 淺藍色 */
  --my-color-tab20-11-hover: #8ec7e8;

  --my-color-tab20-12: #ffbb78; /* 淺橘色 */
  --my-color-tab20-12-hover: #ff9b78;

  --my-color-tab20-13: #98df8a; /* 淺綠色 */
  --my-color-tab20-13-hover: #78df8a;

  --my-color-tab20-14: #ff9896; /* 淺紅色 */
  --my-color-tab20-14-hover: #ff7896;

  --my-color-tab20-15: #c5b0d5; /* 淺紫色 */
  --my-color-tab20-15-hover: #a5b0d5;

  --my-color-tab20-16: #c49c94; /* 淺棕色 */
  --my-color-tab20-16-hover: #a49c94;

  --my-color-tab20-17: #f7b6d2; /* 淺粉紅色 */
  --my-color-tab20-17-hover: #f796d2;

  --my-color-tab20-18: #c7c7c7; /* 淺灰色 */
  --my-color-tab20-18-hover: #a7c7c7;

  --my-color-tab20-19: #dbdb8d; /* 淺黃綠色 */
  --my-color-tab20-19-hover: #bbbb8d;

  --my-color-tab20-20: #9edae5; /* 淺青色 */
  --my-color-tab20-20-hover: #7edae5;
}
